.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-right: 10px;
}

.apresentacao__principal-img {
    height: 550px;
    width: 450px;
    margin-left: 22px;
}

.apresentacao__multi {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 13px; 
    margin: 0 auto;
    
}

.apresentacao__multi-img {  
    width: 210px;
    height: 270px;
}