.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.navbar__titulo {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #fff;
    
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #e7e7e7;
    padding: 10px 100px;
    border-top-left-radius: 60px;
}

.navbar__menu-info {
    margin: 10px;
    text-decoration: none;
    color: #000000;
}